/* Large devices (laptops/desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1299px) {
  /* ---------------------------------------------------- */
  /* ESTILOS GERAIS */
  /* ---------------------------------------------------- */

  /* ---------------------------------------------------- */
  /* SECAO: NAVBAR */
  /* ---------------------------------------------------- */
  .nav-action-btn {
    display: none;
  }

  /* ---------------------------------------------------- */
  /* SEÇÃO: HERO */
  /* ---------------------------------------------------- */
  .prev {
    left: 10px;
  }
  .next {
    right: 10px;
  }

  /* ---------------------------------------------------- */
  /* SECAO: FOOTER */
  /* ---------------------------------------------------- */
  .main-footer .footer-content-wrapper {
    padding: 30px 60px;
  }
}
