/* Large devices (laptops/desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1299px) {
  /* ---------------------------------------------------- */
  /* ESTILOS GERAIS */
  /* ---------------------------------------------------- */

  /* ---------------------------------------------------- */
  /* SECAO: NAVBAR */
  /* ---------------------------------------------------- */
  .nav-action-btn {
    display: none;
  }

  /* ---------------------------------------------------- */
  /* SEÇÃO: HERO */
  /* ---------------------------------------------------- */
  .prev {
    left: 10px;
  }
  .next {
    right: 10px;
  }

  /* ---------------------------------------------------- */
  /* PAGINA: SOBRE */
  /* ---------------------------------------------------- */
  /* =====> SOBRE O PROJETO <===== */
  .features__item {
    margin: -50px 0;
  }
  /* =====> TECNOLOGIAS <===== */
  .cards-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 Colunas: 3x3 completo */
  }

  /* ---------------------------------------------------- */
  /* PAGINA: INTEGRANTES */
  /* ---------------------------------------------------- */
  /* =====> DESENVOLVEDORES <===== */
  .developer-cards {
    margin-top: -35px;
    margin-bottom: -30px;
  }

  /* ---------------------------------------------------- */
  /* SECAO: FOOTER */
  /* ---------------------------------------------------- */
  .main-footer .footer-content-wrapper {
    padding: 30px 60px;
  }
}
