/* Small devices (portrait tablets and large phones, 600px and up) */

@media (min-width: 481px) and (max-width: 767px) {
  /* ---------------------------------------------------- */
  /* ESTILOS GERAIS */
  /* ---------------------------------------------------- */

  /* ---------------------------------------------------- */
  /* SEÇÃO: NAVBAR */
  /* ---------------------------------------------------- */
  /* ativa o layout de grid para organizar logo, botão e busca */
  .nav {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 15px 20px;
    justify-content: space-between;
  }

  /* OCULTA os botões de ação do desktop */
  .nav .logo-actions {
    display: none;
  }

  /* reposiciona elementos no grid */
  .nav .nav-right-content {
    display: contents;
  }
  .nav .logo {
    grid-column: 2 / 3;
    justify-self: center; /* centraliza o logo no grid */
  }
  .nav .navOpenBtn {
    grid-column: 1 / 2;
    display: block;
  }
  .nav #searchIcon {
    grid-column: 3 / 4;
    display: block;
  }

  /* menu lateral (abre na esquerda) */
  .nav .nav-links {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    right: auto;
    height: 100%;
    max-width: 300px;
    width: 75%;
    background-color: var(--white);
    flex-direction: column;
    justify-content: flex-start;
    padding: 80px 20px 0;
    transition: transform 0.4s ease;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
  }
  .nav.openNav .nav-links {
    display: flex;
    transform: translateX(0);
  }

  /* icon para fechar o menu lateral */
  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    left: auto;
    display: block;
  }

  /* ajustes na barra de busca flutuante em mobile */
  .nav .search-box {
    position: fixed;
    right: 20px;
    max-width: calc(100% - 40px);
    top: 80px;
    left: 20px;
    z-index: 1099;
    transform: translateY(-20px);
    margin-left: 0;
  }
  .nav.openSearch .search-box {
    opacity: 1;
    max-width: calc(100% - 40px);
    pointer-events: auto;
    transform: translateY(0);
  }

  /* DROPDOWN EM MOBILE (CLIQUE) */
  /* garante que o dropdown não abra com hover, apenas com clique do JS */
  .nav .nav-links .dropdown:hover .dropdown-menu {
    display: none;
  }
  .nav .nav-links .dropdown-menu {
    position: static; /* ocupa o fluxo do menu lateral */
    display: none;
    min-width: 100%;
    padding: 10px 0;
    background-color: var(--dropdown-bg);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-top: 2px solid var(--color-1);
    margin-top: 2px;
  }
  .nav .nav-links .dropdown.active .dropdown-menu {
    display: block;
  }

  /* ---------------------------------------------------- */
  /* SEÇÃO: HERO */
  /* ---------------------------------------------------- */
  #hero {
    height: 450px;
  }
  .slide-content h1 {
    font-size: 2.2em !important;
    padding: 0 10px;
  }
  .slide-content p {
    font-size: 1.1em !important;
    padding: 0 30px;
  }
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 10px;
    transition: 0.6s ease;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.068);
    border-radius: 7px;
    z-index: 5; /* garante que fique acima dos slides */
  }
  .prev {
    left: 10px;
  }
  .next {
    right: 10px;
  }

  /* ---------------------------------------------------- */
  /* PAGINA: SOBRE */
  /* ---------------------------------------------------- */
  /* =====> HERO - SOBRE <===== */
  .content__hero {
    height: 70vh;
  }
  .content__hero h1 {
    font-size: 3.2em;
    width: 70%;
    margin-top: -100px;
    line-height: 1.1em;
  }
  .content__hero p {
    font-size: 1.9em;
    margin-top: 20px;
    padding: 8px 12px;
  }

  /* =====> SOBRE O PROJETO <===== */
  .content {
    padding: 0.5rem;
    margin-top: -100px;
  }
  .features__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: -50px;
  }
  .features__title {
    font-size: 1.5em;
    align-items: center;
  }
  .features__description {
    font-size: 0.9em;
  }
  .features__content h2,
  .features__content p {
    text-align: center;
    border: none;
    width: 100%;
  }

  /* =====> TECNOLOGIAS <===== */
  .cards-grid {
    grid-template-columns: 1fr;
  }
  .tecnologias-utilizadas-section {
    margin-top: 30px;
    margin-bottom: -40px;
  }
  .tecnologias-utilizadas-section h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .card-description {
    text-align: center;
  }

  @media (min-width: 656px) and (max-width: 767px) {
    .features__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      margin: 0 3px;
    }
    .features__item {
      width: 100%;
      margin-bottom: 30px;
      text-align: center;
    }
    .features__item--left {
      padding: 0 1px;
    }
    .features__item--right {
      padding: 0 1px;
    }
    .features__item--right h2,
    .features__item--right p {
      text-align: center;
    }
  }

  /* ---------------------------------------------------- */
  /* PAGINA: INTEGRANTES */
  /* ---------------------------------------------------- */
  /* =====> HERO - INTEGRANTES <===== */
  .content__hero {
    height: 70vh;
  }
  .integrantes__hero h1 {
    font-size: 3.2em;
    width: 70%;
    margin-top: -100px;
    line-height: 1.1em;
  }
  .integrantes__hero p {
    font-size: 1.9em;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 8px 12px;
  }

  /* =====> DESENVOLVEDORES <===== */
  .developer-cards {
    flex-direction: column;
    align-items: center;
    margin-top: -140px;
    margin-bottom: -30px;
  }
  .developer-card {
    width: 90%;
    max-width: 400px;
  }

  /* ---------------------------------------------------- */
  /* PAGINA: FAQ */
  /* ---------------------------------------------------- */
  /* =====> HERO - FAQ <===== */

  /* =====> FAQ <===== */
  .faq-container {
    grid-template-columns: 1fr; /* força 1 coluna */
  }
  .faq-section {
    padding: 5px 20px;
    margin-top: -200px;
    margin-bottom: -25px;
  }
  .faq-question {
    padding: 18px 20px;
  }
  .faq-content {
    padding: 0 20px 18px 50px;
  }

  /* ---------------------------------------------------- */
  /* PAGINA: CONTATO */
  /* ---------------------------------------------------- */
  /* =====> HERO - CONTATO <===== */

  /* =====> FORMULARIO <===== */

  .form-container {
    margin-top: -140px;
    margin-bottom: 80px;
  }

  /* ---------------------------------------------------- */
  /* PAGINA: CARREIRA POR PROPÓSITO */
  /* ---------------------------------------------------- */
  /* =====> HERO - CARREIRA POR PROPOSITO <===== */

  /* =====> AVALIADOR <===== */
  #filtro-proposito {
    background-color: transparent;
    margin-top: -135px;
    padding-bottom: 40px;
  }
  #filtro-proposito h2 {
    font-size: 2rem;
  }
  #filtro-proposito .section-subtitle {
    font-size: 1.05rem;
    margin-bottom: 30px;
    padding: 0 20px;
  }
  #proposito-box {
    margin: 40px 20px;
  }
  #proposito-box button {
    width: auto;
  }
  #resultado-proposito h3 {
    font-size: 1em;
  }

  /* =====> CTA <===== */
  .cta-proposito {
    padding: 80px 20px;
    min-height: 220px;
    background: linear-gradient(135deg, var(--color-3) 0%, var(--color-1) 100%);
  }
  .cta-proposito::before {
    background: linear-gradient(to left, var(--color-1) 0%, transparent 70%);
  }
  .cta-proposito h3 {
    font-size: 1.8rem;
  }
  .cta-proposito p {
    padding: 10px;
    font-size: 1.05rem;
    margin-bottom: 20px;
  }

  /* ---------------------------------------------------- */
  /* PAGINA: MAPA DE REQUALIFICAÇÃO */
  /* ---------------------------------------------------- */
  /* =====> HERO - MAPA DE REQUALIFICAÇÃO <===== */

  /* =====> MAPA <===== */
  #filtro-mapa {
    background-color: transparent;
    padding-top: 25px;
    padding-bottom: 50px;
  }
  #filtro-mapa .section-subtitle {
    font-size: 1.05rem;
    margin-bottom: 30px;
    padding: 0 20px;
  }
  #mapa-box {
    padding: 20px;
    margin: 100px 20px 35px 20px;
  }
  #resultado .proposito-item a {
    width: 177px;
  }
  #mapa-box label,
  #outras-profissao-container label {
    font-size: 1rem;
  }
  .selecao-estilizada,
  #outras-profissao-container {
    width: 100%;
  }
  .selecao-estilizada,
  #outras-profissao-container input[type="text"] {
    padding: 10px;
    font-size: 0.95rem;
  }
  #mapa-acao-wrapper button {
    margin-top: 5px;
    margin-bottom: 0px;
  }
  #resultado,
  .resultado-box,
  #erro-mensagem {
    padding: 20px;
    font-size: 1.05em;
  }
  #resultado .resultado-titulo,
  #resultado h2,
  #erro-mensagem h3 {
    font-size: 1.2em;
    padding: 15px 20px;
    margin-top: -20px;
    margin-bottom: 15px;
    margin-left: -20px;
    margin-right: -20px;
  }
  #erro-mensagem {
    margin-top: 10px;
  }

  /* =====> CTA <===== */
  .reclassificacao-cta {
    background: linear-gradient(135deg, var(--color-3) 0%, var(--color-1) 100%);
  }

  /* ---------------------------------------------------- */
  /* SEÇÃO: FOOTER */
  /* ---------------------------------------------------- */
  .main-footer .footer-content-wrapper {
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px;
  }
  .main-footer .footer-social-media {
    justify-content: center; /* Centraliza ícones */
  }
  .main-footer .footer-action-btn {
    width: 80%; /* Botão com largura parcial */
    max-width: 300px;
  }
}
