/* Extra small devices (phones, 480px and down) */

@media (max-width: 480px) {
  /* ---------------------------------------------------- */
  /* SEÇÃO: NAVBAR */
  /* ---------------------------------------------------- */
  /* ativa o layout de grid para organizar logo, botao e busca */
  .nav {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 15px 20px;
    justify-content: space-between;
  }

  /* OCULTA os botoes de açao do desktop */
  .nav .logo-actions {
    display: none;
  }

  /* reposiciona elementos no grid */
  .nav .nav-right-content {
    display: contents;
  }
  .nav .logo {
    grid-column: 2 / 3;
    justify-self: center; /* centraliza o logo no grid */
  }
  .nav .navOpenBtn {
    grid-column: 1 / 2;
    display: block;
  }
  .nav #searchIcon {
    grid-column: 3 / 4;
    display: block;
  }

  /* menu lateral (abre na esquerda) */
  .nav .nav-links {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    right: auto;
    height: 100%;
    max-width: 300px;
    width: 75%;
    background-color: var(--white);
    flex-direction: column;
    justify-content: flex-start;
    padding: 80px 20px 0;
    transition: transform 0.4s ease;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
  }
  .nav.openNav .nav-links {
    display: flex;
    transform: translateX(0);
  }

  /* icon para fechar o menu lateral */
  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    left: auto;
    display: block;
  }

  /* ajustes na barra de Busca flutuante em mobile */
  .nav .search-box {
    position: fixed;
    right: 20px;
    max-width: calc(100% - 40px);
    top: 80px;
    left: 20px;
    z-index: 1099;
    transform: translateY(-20px);
    margin-left: 0;
  }
  .nav.openSearch .search-box {
    opacity: 1;
    max-width: calc(100% - 40px);
    pointer-events: auto;
    transform: translateY(0);
  }

  /* DROPDOWN EM MOBILE (CLIQUE) */
  /* garante que o dropdown nao abra com hover, apenas com clique do JS */
  .nav .nav-links .dropdown:hover .dropdown-menu {
    display: none;
  }
  .nav .nav-links .dropdown-menu {
    position: static; /* ocupa o fluxo do menu lateral */
    display: none;
    min-width: 100%;
    padding: 10px 0;
    background-color: var(--dropdown-bg);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-top: 2px solid var(--color-1);
    margin-top: 2px;
  }

  /* o JS adiciona a classe 'active' */
  .nav .nav-links .dropdown.active .dropdown-menu {
    display: block;
  }

  /* ---------------------------------------------------- */
  /* PAGINA: INDEX */
  /* ---------------------------------------------------- */
  /* =====> HERO - INDEX <===== */
  #hero {
    /* aumenta a altura um pouco mais que o mobile extra small */
    height: 450px;
  }
  .slide-content h1 {
    /* aumenta o título para telas maiores que 480px */
    font-size: 2em !important;
    padding: 0 10px;
  }
  .slide-content p {
    font-size: 1em !important;
    padding: 0 30px;
  }
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 10px;
    transition: 0.6s ease;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.068);
    border-radius: 7px;
    z-index: 5; /* garante que fique acima dos slides */
  }
  .prev {
    left: 10px;
  }
  .next {
    right: 10px;
  }

  /* =====> SEÇÃO: O FUTURO DO TRABALHO JA COMEÇOU <===== */
  #desafio {
    padding: 60px 15px;
  }
  #desafio h2 {
    font-size: 1.8rem;
  }
  #desafio .section-subtitle {
    margin: 0 auto 30px;
    font-size: 1rem;
  }
  .desafio-grid {
    gap: 20px;
    padding: 0 5px;
    grid-template-columns: 1fr;
  }
  .desafio-card h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
  .desafio-card:nth-child(3) {
    grid-column: auto;
    justify-self: auto;
    max-width: none;
    width: auto;
  }

  /* =====> SEÇÃO: PILARES PLATAFORMA ABRIR <===== */
  #logo-pilares-visual {
    padding: 50px 10px;
    min-height: auto;
  }
  #logo-pilares-visual h2 {
    font-size: 2.2rem;
    margin-bottom: 30px;
  }

  /* contriner das letras ABRIR */
  .logo-abrir-container {
    gap: 10px; /* reduz o espaço entre as letras */
    margin-bottom: 40px;
  }

  /* estilo de cada letra */
  .logo-abrir-letra {
    font-size: 3rem;
    width: 60px;
    height: 60px;
    padding: 5px 10px;
  }

  /* conteiner dos 5 pilares */
  .pilares-icones-grid {
    gap: 15px;
  }

  /* estilo de cada ponto (icone + texto) */
  .pilar-visual-item {
    width: 60px;
  }
  .pilar-visual-item i {
    font-size: 3rem;
    margin-bottom: 5px;
  }
  .pilar-visual-item p {
    font-size: 0.8rem;
  }

  /* =====> SEÇÃO: FAQ DOS PILARES <===== */
  #foco-requalificacao {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  /* container que faz o empilhamento */
  .faq-container {
    padding: 20px;
    flex-direction: column; /* FORÇA O EMPILHAMENTO */
    gap: 30px;
  }
  .faq-col-left {
    padding: 0;
    margin-top: 0;
  }
  .faq-col-left h2 {
    font-size: 1.8rem;
    text-align: center;
  }
  .faq-col-left .faq-subtitle-span {
    font-size: 1.1rem;
  }

  /* coluna da direita (lista de itens) */
  .faq-col-right {
    padding-top: 0;
  }
  .faq-lista li {
    font-size: 1rem;
    padding: 10px 10px;
  }

  /* icone dentro do item da lista */
  .faq-lista i {
    font-size: 1rem;
    margin-right: 10px;
  }

  /* resposta do accordion */
  .faq-resposta p {
    font-size: 0.9rem;
  }

  /* =====> SEÇÃO: SIMULADOR <===== */
  #simulador {
    margin-top: -80px;
    padding-bottom: 50px;
  }
  #simulador h2 {
    font-size: 1.8rem;
    margin-bottom: 8px;
    padding: 0 20px;
  }
  #simulador .section-subtitle {
    font-size: 1rem;
    margin: 0 auto 30px;
    padding: 0 20px;
  }
  #simulador-box {
    max-width: 90%;
    padding: 20px;
    gap: 20px;
    margin: 30px auto;
  }
  #simulador-box.simulador-aberto {
    max-width: 90%;
    flex-direction: column;
    gap: 20px;
  }
  .simulador-col-input {
    width: 100%;
    padding-top: 0;
    text-align: center;
  }
  #simulador-box label {
    font-size: 1rem;
    margin-bottom: 8px;
    text-align: center;
    align-items: center;
  }
  #profissao-risco {
    padding: 12px;
    font-size: 0.95rem;
    margin-bottom: 15px;
  }
  .simulador-btn {
    padding: 10px 20px;
    font-size: 1rem;
  }
  .aviso-risco-simulador {
    font-size: 0.8em;
    margin-top: 10px;
    margin-right: 0;
    text-align: center !important;
  }
  #risco-resultado {
    width: 100%;
    padding: 20px;
    font-size: 1em;
    min-height: 100px;
  }

  /* =====> SEÇÃO: CTA <===== */
  .cta-responsivo {
    background: linear-gradient(
      135deg,
      var(--color-3) 0%,
      var(--color-4) 100%
    ) !important;
  }

  /* =====> SEÇÃO: POLITICA E PROTECAO SOCIAL <===== */
  #blog {
    margin-top: 20px;
    padding: 50px 15px;
  }
  #blog h2 {
    font-size: 1.8rem;
  }
  #blog .section-subtitle {
    margin: 0 auto 25px;
    font-size: 1rem;
  }
  .cards-container {
    gap: 30px;
    margin: 20px auto 0;
  }
  .post-card-image {
    height: 150px;
  }
  .card-content {
    padding: 15px;
  }
  .card-content h3 {
    font-size: 1.2em;
  }
  .card-content p {
    font-size: 0.9em;
    margin-top: 8px;
  }
  .btn-link-artigo {
    padding: 8px 15px;
    font-size: 0.9rem;
    margin-top: 10px;
  }
  .card-tag {
    width: 100%;
  }
  #politica {
    padding-top: 0px;
  }
  .politica-container {
    margin-bottom: -90px;
  }
  

  /* ---------------------------------------------------- */
  /* PAGINA: SOBRE */
  /* ---------------------------------------------------- */
  /* =====> HERO - SOBRE <===== */
  .content__hero {
    height: 70vh;
  }
  .content__hero h1 {
    font-size: 3em;
    width: 70%;
    margin-top: -100px;
    line-height: 1.1em;
  }
  .content__hero p {
    font-size: 1.7em;
    margin-top: 20px;
    padding: 8px 12px;
  }

  /* =====> SOBRE O PROJETO <===== */
  .content {
    padding: 0.5rem;
    margin-top: -100px;
  }
  .features__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: -50px;
  }
  .features__title {
    font-size: 1.5em;
    align-items: center;
  }
  .features__item--left {
    text-align: center;
    align-items: center;
  }
  .features__item--right {
    text-align: center;
    align-items: center;
  }
  .features__description {
    font-size: 0.9em;
  }
  .features__content h2,
  .features__content p {
    text-align: center;
    border: none;
    width: 100%;
  }

  /* =====> TECNOLOGIAS <===== */
  .cards-grid {
    grid-template-columns: 1fr;
  }
  .tecnologias-utilizadas-section {
    margin-top: 30px;
    margin-bottom: -40px;
  }
  .tecnologias-utilizadas-section h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .card-description {
    text-align: center;
  }

  /* ---------------------------------------------------- */
  /* PAGINA: INTEGRANTES */
  /* ---------------------------------------------------- */
  /* =====> HERO - INTEGRANTES <===== */
  .content__hero {
    height: 70vh;
  }
  .integrantes__hero h1 {
    font-size: 3em;
    width: 70%;
    margin-top: -100px;
    line-height: 1.1em;
  }
  .integrantes__hero p {
    font-size: 1.7em;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 8px 12px;
  }

  /* =====> DESENVOLVEDORES <===== */
  .developer-cards {
    flex-direction: column;
    align-items: center;
    margin-top: -140px;
    margin-bottom: -30px;
  }
  .developer-card {
    width: 90%;
    max-width: 400px;
  }

  /* ---------------------------------------------------- */
  /* PAGINA: FAQ */
  /* ---------------------------------------------------- */

  /* =====> FAQ <===== */
  .faq-container {
    grid-template-columns: 1fr; /* força 1 coluna */
  }
  .faq-section {
    padding: 5px 20px;
    margin-top: -200px;
    margin-bottom: -25px;
  }
  .faq-container {
  }
  .faq-question {
    padding: 18px 20px;
  }
  .faq-content {
    padding: 0 20px 18px 50px;
  }

  /* ---------------------------------------------------- */
  /* PAGINA: CONTATO */
  /* ---------------------------------------------------- */

  /* =====> FORMULARIO <===== */
  .form-row .half-width {
    width: 100%; /* Ocupa a largura total */
    margin-bottom: 20px;
  }
  /* Corrige a margem do último campo para o próximo fieldset */
  .form-row .form-group:last-child {
    margin-bottom: 30px;
  }
  .form-container {
    margin-top: 20px;
    margin-bottom: 120px;
  }
  .duvidas-title {
    padding: 0 20px;
  }

  /* ---------------------------------------------------- */
  /* PAGINA: CARREIRA POR PROPÓSITO */
  /* ---------------------------------------------------- */

  /* =====> AVALIADOR <===== */
  #filtro-proposito {
    background-color: transparent;
    margin-top: -140px;
    padding-bottom: 40px;
  }
  #filtro-proposito h2 {
    font-size: 1.8rem;
  }
  #filtro-proposito .section-subtitle {
    font-size: 1rem;
    margin-bottom: 30px;
    padding: 0 20px;
  }
  #proposito-box {
    padding: 20px;
    margin: 30px 15px;
  }
  #proposito-box label {
    font-size: 1rem;
  }
  #selecao-proposito {
    padding: 10px;
    font-size: 0.95rem;
  }
  #proposito-box button {
    padding: 10px 20px;
    font-size: 1rem;
    width: 100%;
    margin-top: 5px;
  }
  #resultado-proposito {
    padding: 20px;
    font-size: 1em;
  }
  #resultado-proposito h3 {
    font-size: 1.2em;
    padding: 15px 20px;
    margin-top: -20px;
    margin-bottom: 15px;
    margin-left: -20px;
    margin-right: -20px;
  }
  .proposito-item {
    font-size: 1em !important;
    padding: 10px 0;
  }

  /* =====> CTA <===== */
  .cta-proposito {
    padding: 60px 20px;
    min-height: 200px;
    background: linear-gradient(135deg, var(--color-3) 0%, var(--color-1) 100%);
  }
  .cta-proposito::before {
    background: linear-gradient(to left, var(--color-1) 0%, transparent 70%);
  }
  .cta-proposito h3 {
    font-size: 1.6rem;
  }
  .cta-proposito p {
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
  }

  /* ---------------------------------------------------- */
  /* PAGINA: MAPA DE REQUALIFICAÇÃO */
  /* ---------------------------------------------------- */

  /* =====> MAPA <===== */
  #filtro-mapa {
    padding-top: 25px;
    padding-bottom: 50px;
  }
  #filtro-mapa h2 {
    font-size: 1.8rem;
  }
  #filtro-mapa .section-subtitle {
    font-size: 1rem;
    margin-bottom: 30px;
    padding: 0 15px;
  }
  #mapa-box {
    padding: 20px;
    margin: 100px 20px 45px 20px;
  }
  #resultado .proposito-item a {
    width: 171px;
  }
  #mapa-box label,
  #outras-profissao-container label {
    font-size: 1rem;
  }
  .selecao-estilizada,
  #outras-profissao-container {
    width: 100%;
  }
  .selecao-estilizada,
  #outras-profissao-container input[type="text"] {
    padding: 10px;
    font-size: 0.95rem;
  }
  #mapa-acao-wrapper button {
    padding: 10px 20px;
    font-size: 1rem;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  #resultado,
  .resultado-box,
  #erro-mensagem {
    padding: 20px;
    font-size: 1em;
  }
  #resultado .resultado-titulo,
  #resultado h2,
  #erro-mensagem h3 {
    font-size: 1.2em;
    padding: 15px 20px;
    margin-top: -20px;
    margin-bottom: 15px;
    margin-left: -20px;
    margin-right: -20px;
  }
  #erro-mensagem {
    margin-top: 10px;
  }

  /* =====> CTA <===== */
  .reclassificacao-cta {
    background: linear-gradient(135deg, var(--color-3) 0%, var(--color-1) 100%);
  }

  /* ---------------------------------------------------- */
  /* SEÇÃO: FOOTER */
  /* ---------------------------------------------------- */
  .footer-content-wrapper {
    flex-direction: column;
    text-align: center;
    padding: 20px 15px;
    gap: 20px;
  }
  .footer-slogan {
    font-size: 16px;
  }
  .footer-action-btn {
    width: 100%;
  }
  .footer-logo img {
    height: 50px;
  }
  .footer-bottom-credits {
    font-size: 11px;
  }
}
