/* Extra small devices (phones, 480px and down) */

@media (max-width: 480px) {
  /* ---------------------------------------------------- */
  /* ESTILOS GERAIS */
  /* ---------------------------------------------------- */

  /* ---------------------------------------------------- */
  /* SEÇÃO: NAVBAR */
  /* ---------------------------------------------------- */
  /* ativa o layout de grid para organizar logo, botao e busca */
  .nav {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 15px 20px;
    justify-content: space-between;
  }

  /* OCULTA os botoes de açao do desktop */
  .nav .logo-actions {
    display: none;
  }

  /* reposiciona elementos no grid */
  .nav .nav-right-content {
    display: contents;
  }
  .nav .logo {
    grid-column: 2 / 3;
    justify-self: center; /* centraliza o logo no grid */
  }
  .nav .navOpenBtn {
    grid-column: 1 / 2;
    display: block;
  }
  .nav #searchIcon {
    grid-column: 3 / 4;
    display: block;
  }

  /* menu Lateral (abre na esquerda) */
  .nav .nav-links {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    right: auto;
    height: 100%;
    max-width: 300px;
    width: 75%;
    background-color: var(--white);
    flex-direction: column;
    justify-content: flex-start;
    padding: 80px 20px 0;
    transition: transform 0.4s ease;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
  }
  .nav.openNav .nav-links {
    display: flex;
    transform: translateX(0);
  }

  /* icon para fechar o menu lateral */
  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    left: auto;
    display: block;
  }

  /* ajustes na barra de Busca flutuante em mobile */
  .nav .search-box {
    position: fixed;
    right: 20px;
    max-width: calc(100% - 40px);
    top: 80px;
    left: 20px;
    z-index: 1099;
    transform: translateY(-20px);
    margin-left: 0;
  }
  .nav.openSearch .search-box {
    opacity: 1;
    max-width: calc(100% - 40px);
    pointer-events: auto;
    transform: translateY(0);
  }

  /* DROPDOWN EM MOBILE (CLIQUE) */
  /* garante que o dropdown nao abra com hover, apenas com clique do JS */
  .nav .nav-links .dropdown:hover .dropdown-menu {
    display: none;
  }
  .nav .nav-links .dropdown-menu {
    position: static; /* ocupa o fluxo do menu lateral */
    display: none;
    min-width: 100%;
    padding: 10px 0;
    background-color: var(--dropdown-bg);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-top: 2px solid var(--color-1);
    margin-top: 2px;
  }

  /* o JS adiciona a classe 'active' */
  .nav .nav-links .dropdown.active .dropdown-menu {
    display: block;
  }

  /* ---------------------------------------------------- */
  /* SEÇÃO: HERO */
  /* ---------------------------------------------------- */
  #hero {
    /* Aumenta a altura um pouco mais que o mobile extra small */
    height: 450px;
  }

  .slide-content h1 {
    /* Aumenta o título para telas maiores que 480px */
    font-size: 2em !important;
    padding: 0 10px;
  }

  .slide-content p {
    font-size: 1em !important;
    padding: 0 30px;
  }
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 10px;
    transition: 0.6s ease;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.068); /* Fundo semi-transparente */
    border-radius: 7px;
    z-index: 5; /* Garante que fique acima dos slides */
  }
  .prev {
    left: 10px;
  }
  .next {
    right: 10px;
  }

  /* ---------------------------------------------------- */
  /* PAGINA: SOBRE */
  /* ---------------------------------------------------- */
  /* =====> HERO - SOBRE <===== */
  .content__hero {
    height: 70vh;
  }
  .content__hero h1 {
    font-size: 3em;
    width: 70%;
    margin-top: -100px;
    line-height: 1.1em;
  }
  .content__hero p {
    font-size: 1.7em;
    margin-top: 20px;
    padding: 8px 12px;
  }

  /* =====> SOBRE O PROJETO <===== */
  .content {
    padding: 0.5rem;
    margin-top: -100px;
  }
  .features__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: -50px;
  }
  .features__title {
    font-size: 1.5em;
    align-items: center;
  }
  .features__item--left {
    text-align: center;
    align-items: center;
  }
  .features__item--right {
    text-align: center;
    align-items: center;
  }
  .features__description {
    font-size: 0.9em;
  }
  .features__content h2,
  .features__content p {
    text-align: center;
    border: none;
    width: 100%;
  }

  /* =====> TECNOLOGIAS <===== */
  .cards-grid {
    grid-template-columns: 1fr;
  }
  .tecnologias-utilizadas-section {
    margin-top: 30px;
    margin-bottom: -40px;
  }
  .tecnologias-utilizadas-section h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .card-description {
    text-align: center;
  }

  /* ---------------------------------------------------- */
  /* PAGINA: INTEGRANTES */
  /* ---------------------------------------------------- */
  /* =====> HERO - INTEGRANTES <===== */
  .content__hero {
    height: 70vh;
  }
  .integrantes__hero h1 {
    font-size: 3em;
    width: 70%;
    margin-top: -100px;
    line-height: 1.1em;
  }
  .integrantes__hero p {
    font-size: 1.7em;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 8px 12px;
  }

  /* =====> DESENVOLVEDORES <===== */
  .developer-cards {
    flex-direction: column;
    align-items: center;
    margin-top: -140px;
    margin-bottom: -30px;
  }
  .developer-card {
    width: 90%;
    max-width: 400px;
  }

  /* ---------------------------------------------------- */
  /* PAGINA: FAQ */
  /* ---------------------------------------------------- */
  /* =====> HERO - FAQ <===== */

  /* =====> FAQ <===== */
  .faq-container {
    grid-template-columns: 1fr; /* força 1 coluna */
  }
  .faq-section {
    padding: 5px 20px;
        margin-top: -200px;
        margin-bottom: -25px;
  }
  .faq-container {
  }
  .faq-question {
    padding: 18px 20px;

  }
  .faq-content {
    padding: 0 20px 18px 50px;
  }

  /* ---------------------------------------------------- */
  /* PAGINA: CONTATO */
  /* ---------------------------------------------------- */
  /* =====> HERO - CONTATO <===== */

  /* =====> FORMULARIO <===== */
.form-row .half-width {
        width: 100%; /* Ocupa a largura total */
        margin-bottom: 20px; 
    }
    /* Corrige a margem do último campo para o próximo fieldset */
    .form-row .form-group:last-child {
        margin-bottom: 30px; 
    }
    .form-container {
      margin-top: -80px;
      margin-bottom: 120px;
    }








  

  /* ---------------------------------------------------- */
  /* SEÇÃO: FOOTER */
  /* ---------------------------------------------------- */
  .footer-content-wrapper {
    flex-direction: column;
    text-align: center;
    padding: 20px 15px;
    gap: 20px;
  }
  .footer-slogan {
    font-size: 16px;
  }
  .footer-action-btn {
    width: 100%;
  }
  .footer-logo img {
    height: 50px;
  }
  .footer-bottom-credits {
    font-size: 11px;
  }
}
